*{box-sizing: border-box;}

.header{
    font-size: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.clock{
    font-size: 32px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.start{
    margin-bottom: 15px;
}

.time-clock-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    width: 90%;
    background-color: lightblue;
    color: white;
    padding: 5px 0 5px 0;
    border-radius: 4px;
    border: 2px solid lightblue;

}

.time-clock-btn:hover{
    border: 2px solid lightblue;
    background-color: white;
    color: lightblue;
    cursor: pointer;
}

.day-container{
    margin-left: 5% !important;
    width: 90%;
}

.day-item{
    margin-left: 0;
    padding-left: 0 !important;
}

.day{
    background-color: lightgray;
    height: 40px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 2px;
}

.hours{
    height: 40px;
    background-color: orchid;
    position: absolute;
    border-radius: 2px;
}


.total-hours{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.arrows{
    margin-left: 5% !important;
    width: 90%; 
    justify-content: center;
    margin-left: 5%;
    width: 90%;
    color: white;
    border-radius: 4px;
    margin-bottom: 15px;

    &:hover{
        cursor: pointer;
    }
}

.arrow{
    border: 1px solid #000;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 5px 0;
    background-color: lightblue;
    border-radius: 4px;
    border: 2px solid lightblue;
    &:hover{
        background-color: white;
        color: lightblue;
    }
}